/* CONTAINER FOR GROUP LIST AND GROUP VIEWER. A FLEXBOX FOR ALIGNING THE TWO*/
#main-flex-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

#group-viewer {
    height: 100%;
    flex: 1 1;
}
#group-menu {
    width: calc(100% - var(--group-list-width));
    left: var(--group-list-width);
}
#group-content-area {
    position: fixed;
    left: var(--group-list-width);
    top: calc(var(--titlebar-height) + var(--group-optionsbar-height));
    bottom: 0px;
    box-sizing: border-box;
    width: calc(100% - var(--group-list-width));
    display: flex;
    align-items: flex-start;
    overflow-y: scroll;

    z-index: 5;
}