:root {
    /* LAYOUT */
    --group-list-width: 250px;
    --titlebar-height: 60px;
    --group-optionsbar-height: 50px;

    --modal-padding: 10px;
    --pfp-size-small: 32px;

    /* FONTS */
    --title-font-size: 30px;
    --title-font-weight: bold;
    --primary-content-font-size: 20px;
    --secondary-content-font-size: 15px;

    --modal-title-size: 25px;
    --modal-content-size: 15px;

    /* COLORS */
    --card-primary-red: #c10f0f;
    --card-secondary-red: #d32a21;
    --card-primary-blue: #0a058e;
    --card-secondary-blue: #26229b;

    --button-border-neutral: #888888;
    --button-highlight-neutral: #ececec;
    --button-border-confirm: #4444ff;
    --button-highlight-confirm: #83a4ff;
    --button-border-danger: #a4100b;
    --button-highlight-danger: #d71914;

    --drop-shadow-color: #aaaaaacc;

    /* MISCELLANEOUS */
    --border-radius-card: 15px;
    --border-width-card: 5px;

    --border-width-button: 2px;
    --border-radius-button: 8px;
    
    --card-hover-shadow-width: 5px;
}
* {
    font-family: 'Lexend', sans-serif;
}