.card-modal {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

    width: 40vw;
    min-width: 100px;
    /* height: 30vh;
    min-height: 75px; */

    background: white;
    border: solid var(--border-width-button) var(--button-border-neutral);
    border-radius: var(--border-radius-button);

    z-index: 60;

    padding: var(--modal-padding);

    display: block;
    flex-wrap: wrap;
}
.card-modal input {
    /* margin: 0px; */
    /* flex: 100%; */
}
.card-modal p {
    margin: 0px;
    
    white-space: pre-wrap;
}
.card-modal .modal-title {
    font-size: var(--modal-title-size);
    border: 0px;
}
.card-modal .modal-content {
    font-size: var(--modal-content-size);
    border: 0px;
}
input:focus {
    outline: 0px;
}
/* .card-modal .default-button {
    position: absolute;
    bottom: 0px;
    right: 0px;
} */