.card {
    background: var(--card-secondary-red);
    border: var(--border-width-card) solid var(--card-primary-red);
    border-radius: var(--border-radius-card);
    color: white;
    padding: 5px;
    margin: 15px 0px 0px 15px;
    width: 10rem;
    min-height: 150px;
}
.card-title {
    font-size: var(--primary-content-font-size);
    margin: 0px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card-desc {
    font-size: var(--secondary-content-font-size);
    margin: 0px;
}


.card:hover { animation: card-hover 0.3s forwards; }
.card { animation: card-hover-rev 0.3s forwards; }

@keyframes card-hover {
    from {box-shadow: none; }
    to {box-shadow: 0px 0px 5px var(--card-hover-shadow-width) var(--drop-shadow-color); }
}
@keyframes card-hover-rev {
    from {box-shadow: 0px 0px 5px var(--card-hover-shadow-width) var(--drop-shadow-color); }
    to {box-shadow: none; }
}